<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Accueil</title>     
</head> 
<body> 
    <h1>Bienvenue dans la bibliothèque</h1> 

    <a href="api/books/books">Voir la liste des livres</a> 
</body> 
</html>